@page "/"
@model Mackaroni.Server.Pages.Index

@{
    Layout = "_Shared/_Layout";
}
<h1>
    Thingy
</h1>
<ul>
    <li>
        <a href="/article/article-a">Article A</a>
    </li>
    <li>
        <a href="/article/article-b">Article B</a>
    </li>
</ul>